<% provide(:title, 'Help') %>
<!Doctype html>
<html>
	<head>
		<title>An creative Blog | <%= yield(:title) %></title>
	</head>
	<body>
		<h1>Help</h1>
		<p>
			This is the help page for the
			<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
			sample application.
		</p>
	</body>
</html>